<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="AppComponents" Directory="INSTALLFOLDER">
      <Component>
        <File Source="App.dll" />
      </Component>
	  <Component>
		<File Source="App.exe" />
	  </Component>
		<Component>
			<File Source="App.runtimeconfig.json" />
		</Component>
    </ComponentGroup>
  </Fragment>
</Wix>
